*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Georama", sans-serif;
}

body{
    padding-top: 100px;
}

header {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.container {
    max-width: 640px;
    width: 100%;
    margin: 0 auto;
}

form {
    max-width: 640px;
    justify-content: space-between;
    margin-bottom: 56px;
    align-items: center;
}

form input, button {
    display: block;
    margin-top: 8px;
    width: 300px;
    padding: 0;
}

form button {
    cursor: pointer;
}

form button:hover {
    background-color: #4978c2;
    color: #FFFF;
}

#tasklist{
    max-width: 640px;
    width: 100%;
    cursor: pointer;
    list-style: none;
}

#tasklist li {
    display: block;
    width: 300px;
    text-transform: lowercase;
    border-bottom: 1px solid rgba(0,0, 0,0.1)   
}